/****************************** Universal Styles ******************************/

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/****************************** Container Styles ******************************/
body {
  background-image: url('../images/hexes.jpg');
  background-color: black;
  padding: 10px;
  color: white;
  border: 1px solid red;

  display: flex;
  ali
}

.left {
  background-color: gray;
  border: 1px solid red;

  display: flex;
  align-items: center;
}

.right {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid red;

  margin-left: .5em;

  display: flex;
  align-items: center;
}

.left .column {
  display: flex;
  align-items: center;
}

.deck {
  display: inline-flex;
}

.left .column .header {
  padding: .2em;
  border: .5em solid grey;
  margin: .2em;
  align-items: stretch;
}

.bold {
  font-style: bold;
}
