/****************************** Universal Styles ******************************/

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/****************************** Container Styles ******************************/
.body {
	background-color: black;
	padding: 10px;
	color: white;
}

.top {
  padding: 1em;
  box-shadow: inset 1em 1em grey

}
